section#about.scroll
    .about
        .about__img 
            .img-container 
                img(src='@img/photo.png' alt='It`s me:)')

        .about__description
            h3.title 
                | About me
            p
                | My name is 
                span  Dariia Palii
                |  and I`m a 
                span  Front-End Developer
                |  with good skills in 
                span HTML
                |, 
                span CSS
                |  and 
                span JavaScript
                |. I have developed several websites and web applications during my studies and have freelancing experience.
            br
            p 
                | My passion for 
                span problem-solving
                |  and 
                span attention to detail
                |  help me create visually appealing and user-friendly interfaces. I am always eager to learn and take on new challenges.
                | I would be happy to communicate with other professionals in the software development industry and work together on creating innovative and efficient products.
            
            a(href='./files/CV_Dariia_Palii_Front-End_Developer.pdf' download='').btn
                span
                span
                span
                span
                | Download CV