section#contact.scroll
    .contact 
        h3.title Contact me
        
        ul.contact__link
            li.contact__link-item 
                a(href="mailto:dariia.palij@gmail.com") 
                    svg(width='30' height='30')
                        use(xlink:href='@img/contact-sprite.svg#icon-mail')
                    span dariia.palij@gmail.com
            li.contact__link-item 
                a(href="https://t.me/daria_pl" target="_blank") 
                    svg(width='30' height='30')
                        use(xlink:href='@img/contact-sprite.svg#icon-telegram')
                    span @daria_pl
            li.contact__link-item 
                a(href="https://www.linkedin.com/in/dariia-palii/" target="_blank") 
                    svg(width='30' height='30')
                        use(xlink:href='@img/contact-sprite.svg#icon-linkedin')
                    span Dariia Palii
            li.contact__link-item 
                a(href="https://github.com/darraa" target="_blank") 
                    svg(width='30' height='30')
                        use(xlink:href='@img/contact-sprite.svg#icon-github')
                    span Darraa
    include ./footer
