nav.nav
    ul.nav__content
        li
            a.link.active(href='#home') Home
        li
            a.link(href='#about')  About me
        li
            a.link(href='#skills') Skills
        li
            a.link(href='#projects') Projects
        li
            a.link(href='#contact') Contact me
