section#projects.scroll 
        .projects
            h3.title Projects

            .projects__list.owl-carousel

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/dapixel.jpg", alt="project")
                            
                        span DaPixel 

                        p This project is a responsive webpage that was created using  
                            span HTML
                            |, 
                            span JavaScript
                            |, and 
                            span  SCSS. 
                            | The design was based on a 
                            span  Figma 
                            | template and the SCSS code was compiled into CSS.
                        .project__links
                            a(href="https://github.com/Darraa/DaPixel" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://darraa.github.io/DaPixel/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/ciclo.jpg", alt="project")            
                        span Ciclo 

                        p Ciclo is an adaptive landing page built using 
                            span HTML
                            |, 
                            span SCSS
                            |,
                            span  JavaScript
                            |, and 
                            span CSS Animation
                            |  in each section. The layout and design are based on the provided 
                            span Figma 
                            |design.

                        .project__links
                            a(href="https://github.com/Darraa/ciclo" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://ciclo-navy.vercel.app/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/file-upload.jpg", alt="project")
                        span File-Upload 

                        p This project is a simple file upload application developed using 
                            span HTML
                            |,
                            span CSS
                            |, 
                            span JavaScript
                            |, and 
                            span PHP
                            |. It allows users to upload files and manage them within the application.

                        .project__links
                            a(href="https://github.com/Darraa/file-upload" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://file-upload-nu.vercel.app/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/hungry-people.jpg", alt="project")
                        span Hungry People 

                        p This project is a responsive webpage built from a 
                            span Figma
                            |  design. It utilizes 
                            span HTML
                            |, 
                            span SCSS
                            |  (compiled into minified CSS), 
                            span JavaScript
                            |  for implementing a burger menu, and 
                            span jQuery
                            |  for phone number masking.

                        .project__links
                            a(href="https://github.com/Darraa/hungry-people" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://hungry-people-kappa.vercel.app/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/real-estate.jpg", alt="project")
                        span Real Estate 

                        p The design of the page was created in 
                            span Figma 
                            |and it has been implemented using the following technologies: 
                            span Gulp
                            |, 
                            span Pug
                            |, 
                            span SCSS
                            |, 
                            span JavaScript
                            |, and 
                            span jQuery
                            |. 

                        .project__links
                            a(href="https://github.com/Darraa/real-estate" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://real-estate-darraa.vercel.app/" target="_blank") 
                                svg(width='16' height='16')
                                        use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/todo-list.jpg", alt="project")
                            
                        span To Do List 

                        p This project is an adaptive web app for creating a task list. The project was created using 
                            span JavaScript and 
                                span CSS
                                |. All recorded tasks are stored in 
                                span localStorage.

                        .project__links
                            a(href="https://github.com/Darraa/ToDo-List" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://darraa.github.io/ToDo-List/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/yes-or-no.jpg", alt="project")
                        span Yes or No 

                        p The yes-or-no-app is a simple application with a magical ball that provides "yes" or "no" answers to the questions you ask. It is built using 
                            span HTML
                            |, 
                            span SCSS
                            |, 
                            span JavaScript 
                            | and utilizes 
                            span API 
                            |.

                        .project__links
                            a(href="https://github.com/Darraa/yes-or-no-app" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://darraa.github.io/yes-or-no-app/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo

                    .project
                        .project__img 
                            .img-container  
                                img(src="@img/tic-tac-toe.jpg", alt="project")
                        span Tic Tac Toe 

                        p This project is a simple implementation of the classic game of Tic Tac Toe. The project was created using 
                            span JavaScript 
                            |and 
                            span CSS
                            |. The app is designed to be played on one device

                        .project__links
                            a(href="https://github.com/Darraa/Tic-Tac-Toe" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-github')
                                span GitHub

                            a(href="https://darraa.github.io/Tic_Tac_Toe/" target="_blank") 
                                svg(width='16' height='16')
                                    use(xlink:href='@img/skills-sprite.svg#icon-new-tab')
                                span Demo
