section#skills.scroll
    .skills
        h3.title Skills
        ul.skills__list
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-html5')
                span HTML5
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-css3')
                span CSS3
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-javascript')
                span JavaScript
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-sass')
                span Sass
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-git')
                span Git
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-webpack')
                span Webpack
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-gulp')
                span Gulp
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-jquery')
                span JQuery
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-bootstrap')
                span Bootstrap
            li.skills__list-item
                svg(width='60' height='60')
                    use(xlink:href='@img/skills-sprite.svg#icon-figma')
                span Figma