doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='freelancehunt' content='6a9ddf9b57441f1')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
        link(type="image/png" sizes="14x14" rel="icon" href="@img/icon.png")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap' rel='stylesheet')
        link(rel='stylesheet', href='css/style.min.css')
        title Dariia Palii 
    body 
        include html/nav
        main.fullpage 
            canvas#canvas
            include html/home
            include html/about
            include html/skills
            include html/projects
            include html/contact
        script(src='js/script.min.js')